<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indian Institute of Management Banglore</title>
	<link rel="stylesheet" href="../resources/css/reset.css">
	<link rel="stylesheet" href="../resources/css/home.css">
	<link rel="stylesheet" media="screen and (max-width: 1024px) and (min-width: 700px)" href="../resources/css/ipad.css" />
    <link rel="stylesheet" media="screen and (max-width: 420px)" href="../resources/css/iphone6.css" />
</head>
<body>
<header>
	<div id="header-wrapper">
		<div id="logo">
			<img id="img" src="../assets/images/logo.png">
		</div>
		<div id="navlist">
			<form style="float:right">
		        <input id="searchbox" type="text" placeholder="Search...">   
			</form>
			<div id="nav-icons">
				<div id="nav-icons-ul">
					<ul>
				        <li><a>ALUMINI</a></li>
				        <li><a >LIBRARY</a></li>
				        <li><a>PARTNERSHIP</a></li>
				        <li><a>OPPURTUNITY</a></li>
					</ul>	
				</div>
				<div id="social-media">
					<ul>
						<li><a href="#" id="youtube">&nbsp;</a></li>
						<li>
							<a href='http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/' target="popup"  onclick="window.open('http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/','name','width=600,height=400')" id="facebook">&nbsp;</a>
						</li>
						<li><a href="#" id="linkedin">&nbsp;</a></li>
						<li><a href="#" id="twitter">&nbsp;</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="nav">
		 	<nav class="main-nav">
		        <ul>
			        <li><a href="about.html" >ABOUT IIM</a>
					    <ul>
					    	<li><a href="#">LIFE@MBA</a></li>
				            <li><a href="#">AWARDS & RECOGNITION</a></li>
				            <li><a href="#">PROMINENT PARTNERS/STAKEHOLDERS TESTIMONIALS</a></li>
				            <li><a href="#">MEDIA ROOM</a></li>
				            <li><a href="#">AFFIRMATIVE ACTION</a></li>
				            <li><a href="#">GENDER SENSITIVITY COMMITTEE</a></li>  
							<li><a href="#">BOARD OF GOVERNERS</a></li>
					    </ul>
			        </li>
			        <li><a >ADMISSION</a></li>
			        <li><a>EXECUTIVE EDUCATION</a></li>
			        <li><a>FACULTY & RESEARCH</a></li>
			        <li><a> CENTER OF EXCELLENCE </a></li>
			    </ul>    
			</nav>
		</div>
	</div>
</header>

<div id="img-container">
	<div id="slider-wrapper"></div>
</div>

<div id="main-wrapper">
	<div id="main-content">
		<h1>About the Institute</h1>
		<p>The Indian Institute of Management Bangalore (IIMB) believes in building leaders through holistic, transformative and innovative education. IIMB is an acknowledged hub of academic activity in India and globally. We are recognized as a leading international post-graduate centre of management studies.</p>
		<br>
		<p>IIMB is Equis accredited. The accreditation is an indication that recognized institutions satisfy international standards.</p>
		<br>
		<p>IIMB is India’s first management school to join edX as a Contributing Member. As IIMBx, India’s leading B-school will leverage new technologies and deliver education via MOOCs (massive open online courses) to a larger population of learners from around the world. EdX, a Cambridge, Massachusetts-based non-profit enterprise created by founding partners Harvard University and MIT, offers interactive online classes from the world’s best universities. It was created for students and institutions that seek to transform themselves through cutting-edge technologies, innovative pedagogy, and rigorous courses.</p>
		<br>
		<p>The Financial Times has rated IIMB’s doctoral programme in the Top 50 globally. The adjacent schools in this list include Cornell University, University of Minnesota, Yale University, and Marshal School at USC.</p>
		<br>
		<p>IIMB is the only Indian Business School to feature in the Financial Times Executive Education 2015 Top 50 Rankings.</p>
		<br>
		<p>For the seventh consecutive year, in 2014, IIM Bangalore has been ranked the best business school in Central Asia by Eduniversal, Paris.</p>
		<br>
		<p>IIMB received the prestigious Obama-Singh 21st Century Knowledge Initiative Award in 2013. This initiative is aimed at strengthening collaborations and building partnerships between American and Indian institutions of higher education in priority fields.</p>
		<br>
		<p>IIMB collaborates with over 114 top B-schools in the world for various research initiatives and student & faculty exchange programmes.</p>
		<br>
		<p>Currently, IIMB offers five long-duration programmes – the Fellow Programme in Management (FPM), the Post-Graduate Programme in Management (PGP), the Post Graduate Programme in Public Policy and Management (PGPPM), the Executive Post Graduate Programme in Management (EPGP) and a weekend Post Graduate Programme in Enterprise Management (PGPEM).</p>
		<br>
		<p>IIMB has 150+ faculty members, including visiting and adjunct faculty, who are actively engaged in policy formulation, research, case writing and consulting.</p>
		<br>
		<p>IIMB’s research centres include the Centre for Public Policy, the Nadathur S Raghavan Centre for Entrepreneurial Learning, the Centre for Financial Markets & Risk Management, the Centre for Corporate Governance & Citizenship, the Centre for Software & IT Management, the Centre for Supply Chain Management, and the Centre for Enterprise Resource Planning.</p>
		<br>
		<p>We are known for excellence in research and scholarship, global character, values, diversity, and for the impact we make on multiple stakeholders and the society.</p>
	</div>
	<aside id="side-menu">
		<ul id="side-menu-items">
			<li id="active">About the Institute</li>
			<li>Life @ IIMB</li>
			<li>Awards & Recognitions</li>
			<li>Prominent Partners/ Stakeholders Tetimonials</li>
			<li>Media Room</li>
			<li>Affirmative Action</li>
			<li>Gender Sensitivity Committee</li>
			<li>Board of Governors</li>
		</ul>
	</aside>
</div>
<div id="button-container">
	<div id="content-sections">
		<ul id="content-wrapper">
			<li>
				<div class="image-button1">
					<div class="image-text">
						<p>Prospective Students</p>
					</div>
					<img id="studentImg" src="../assets/images/Prospective_students.png">
				</div>
			</li>
			<li>
				<div class="image-button2">
					<div class="image-text">
						<p>Publication</p>
					</div>
					<img id="studentImg" src="../assets/images/Publications.png">
				</div>
			</li>
			<li>
				<div class="image-button3">
					<div class="image-text">
						<p>Media Room</p>
					</div>
					<img id="studentImg" src="../assets/images/Media_Room.png">
				</div>
			</li>
		</ul>
	</div>
</div>
<footer>
	<div id="main-footer">
		<div id="main-footer-content">
			<div id="about-us">
				<p id="footer-title">About Us</p>
				<p id="footer-content">A 100-acre oasis in south Banga- lore, the Indian Institute of Man- agement Bangalore (IIMB), with its all stone architecture...</p>
				<p id="aboutus-link"><a href="#">Readmore...</a></p>
			</div>
			<div id="other-links">
				<p id="footer-title">Other Links</p>
				<ul>
					<li><a href="">Publications</a></li>
					<li><a href="">Media Room</a></li>
					<li><a href="">Multimedia</a></li>
					<li><a href="">Related links</a></li>
					<li><a href="">Alumni</a></li>
					<li><a href="">Faculty</a></li>
				</ul>
			</div>
			<div id="connect">
				<p id="footer-title">Connect With Us</p>
				<p id="connect-content">We're on social networks. Follow us & get in touch.</p>
				<div id="social-links">
					<ul>
						<li><a href="#" id="youtube">&nbsp;</a></li>
						<li>
							<a href='http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/' target="popup"  onclick="window.open('http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/','name','width=600,height=400')" id="facebook">&nbsp;</a>
						</li>
						<li><a href="#" id="linkedin">&nbsp;</a></li>
						<li><a href="#" id="twitter">&nbsp;</a></li>
					</ul>
				</div>
			</div>
			<div id="contact-us">
				<p id="footer-title">Contact Us</p>
				<p id="footer-title-bold">Indian Institute of Management Bangalore</p>
				<p id="footer-content">Bannerghatta Road, Bangalore, India<br>Pin Code: 560 076<br>Phone Number: +91-80-26582450/26993996<br>E-Mail: info@iimb.ernet.in...</p>
			</div>
		</div>
	</div>
	<div id="copyright-footer">
		<div id="copyright-footer-content">
			<ul id="copyright-links">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Delivery & Returns</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<p> © Copyright 2014 IIMB, All Rights Reserved</p>
		</div>
	</div>
</footer>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="../resources/js/home.js"></script>
<script src="../resources/js/slider.js"></script>	
</body>
</html>