<!DOCTYPE html>
<html>
<head>
	<title>IIM Bangalore</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/iimb.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../assets/javascript/iimb.js" type="text/javascript" charset="utf-8" async defer> </script>
</head>
<body  a link="white" vlink="white">
<header>
<div id="header-wrapper">

<div id="logo">
<img id="img" src="../assets/images/logo.png">
<form id="searchbox">
        <input type="text" placeholder="Search..." required>   
</form>

<div id="navlist">
 <ul>
        <li>
            <a>ALUMINI</a>
        </li>
        <li>
            <a >LIBRARY</a>
        </li>
        <li>
            <a>PARTNERSHIP</a>
        </li>
        <li>
            <a>OPPURTUNITY</a>
        </li>
</ul>
</div>

<div id="socialmedia">
<img id="social" src="../assets/images/socialIcon_top.png">
</div>
</div>
<div id="nav">
 <nav class="main-nav">
        <ul>
        <li>
            <a href="about.html" >ABOUT</a>
        </li>
        <li>
            <a >ADMISSION</a>
        </li>
        <li>
            <a>EXECUTIVE EDUCATION</a>
        </li>
        <li>
            <a>FACULTY & RESEARCH</a>
        </li>
        <li>
            <a> CENTER OF EXCELLENCE </a>
        </li>
        <li>
            <a> FACULTY </a>
        </li>
        <li>
            <a> RESEARCH </a>
        </li>
                </li>
        <li>
            <a> JOURNEL </a>
        </li>
        </ul>
 </nav>
 </div>

</div>

</body>
</html>