<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indian Institute of Management Banglore</title>
	<link rel="stylesheet" href="../resources/css/reset.css">
	<link rel="stylesheet" href="../resources/css/home.css">
	<link rel="stylesheet" media="screen and (max-width: 1024px) and (min-width: 700px)" href="../resources/css/ipad.css" />
    <link rel="stylesheet" media="screen and (max-width: 420px)" href="../resources/css/iphone6.css" />
</head>
<body>
<div id="img-container">
	<div id="slider-wrapper">
		<div id="banner">
			<h1>Earth Day Celebrations at IIMB</h1>
			<br>
			<p>On Earth Day at IIMB, environmentalist Suresh Heblikar rues that all districts in the State aspire to Bangalore's "growth" model but hopees young minds, like those at IIMB, can reverse this trend...</p>
			<br>
			<a href="#">Read More</a>
			<br><br><br>
			<img src="../assets/images/banner_navigation.png" alt="">
		</div>
		<div id="img-slider">
			<img src="../assets/images/DSC_0266.jpeg">
		</div>	
	</div>
</div>
<footer>
	<div id="main-footer">
		<div id="main-footer-content">
			<div id="about-us">
				<p id="footer-title">About Us</p>
				<p id="footer-content">A 100-acre oasis in south Banga- lore, the Indian Institute of Man- agement Bangalore (IIMB), with its all stone architecture...</p>
				<p id="aboutus-link"><a href="#">Readmore...</a></p>
			</div>
			<div id="other-links">
				<p id="footer-title">Other Links</p>
				<ul>
					<li><a href="">Publications</a></li>
					<li><a href="">Media Room</a></li>
					<li><a href="">Multimedia</a></li>
					<li><a href="">Related links</a></li>
					<li><a href="">Alumni</a></li>
					<li><a href="">Faculty</a></li>
				</ul>
			</div>
			<div id="connect">
				<p id="footer-title">Connect With Us</p>
				<p id="connect-content">We're on social networks. Follow us & get in touch.</p>
				<div id="social-links">
					<!-- <img src="../assets/images/socialIcon_bottom.png"> -->
				</div>
			</div>
			<div id="contact-us">
				<p id="footer-title">Contact Us</p>
				<p id="footer-title-bold">Indian Institute of Management Bangalore</p>
				<p id="footer-content">Bannerghatta Road, Bangalore, India<br>Pin Code: 560 076<br>Phone Number: +91-80-26582450/26993996<br>E-Mail: info@iimb.ernet.in...</p>
			</div>
		</div>
	</div>
	<div id="copyright-footer">
		<div id="copyright-footer-content">
			<ul id="copyright-links">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Delivery & Returns</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<p> © Copyright 2014 IIMB, All Rights Reserved</p>
		</div>
	</div>
</footer>	
</body>
</html>