<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indian Institute of Management Banglore</title>
	<link rel="stylesheet" href="../resources/css/reset.css">
	<link rel="stylesheet" href="../resources/css/home.css">
	<link rel="stylesheet" media="screen and (max-width: 1024px) and (min-width: 700px)" href="../resources/css/ipad.css" />
    <link rel="stylesheet" media="screen and (max-width: 420px)" href="../resources/css/iphone6.css" />
</head>
<body>
<header>
	<div id="header-wrapper">
		<div id="logo">
			<a href="index.html">
				<img id="img" src="../assets/images/logo.png">
			</a>	
		</div>
		<div id="submitForm"></div>
		<div id="submitButton"></div>
		<div id="navlist">
			<form style="float:right">
		        <input id="searchbox" type="text" placeholder="Search...">   
			</form>
			<div id="nav-icons">
				<div id="nav-icons-ul">
					<ul>
				        <li><a>ALUMINI</a></li>
				        <li><a >LIBRARY</a></li>
				        <li><a>PARTNERSHIP</a></li>
				        <li><a>OPPURTUNITY</a></li>
					</ul>	
				</div>
				<div id="social-media">
					<ul>
						<li><a href="#" id="youtube">&nbsp;</a></li>
						<li>
							<a href='http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/' target="popup"  onclick="window.open('http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/','name','width=600,height=400')" id="facebook">&nbsp;</a>
						</li>
						<li><a href="#" id="linkedin">&nbsp;</a></li>
						<li><a href="http://twitter.com/share?text=Am sharing on Twitter&url=http://lawrence23.github.io/IIMB/views/&hashtags=IIMB,Design,Vinay" target="popup"  onclick="window.open('http://twitter.com/share?text=IIM Bangalore Website Design&url=http://lawrence23.github.io/IIMB/views/&hashtags=IIMB,Design,Vinay','name','width=600,height=400')" ) id="twitter">&nbsp;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="nav">
		 	<nav class="main-nav">
		        <ul>
			        <li><a href="about.html" >ABOUT IIM</a>
					    <ul>
					    	<li><a href="#">LIFE@MBA</a></li>
				            <li><a href="#">AWARDS & RECOGNITION</a></li>
				            <li><a href="#">PROMINENT PARTNERS/STAKEHOLDERS TESTIMONIALS</a></li>
				            <li><a href="#">MEDIA ROOM</a></li>
				            <li><a href="#">AFFIRMATIVE ACTION</a></li>
				            <li><a href="#">GENDER SENSITIVITY COMMITTEE</a></li>  
							<li><a href="#">BOARD OF GOVERNERS</a></li>
					    </ul>
			        </li>
			        <li><a >ADMISSION</a></li>
			        <li><a>EXECUTIVE EDUCATION</a></li>
			        <li><a>FACULTY & RESEARCH</a></li>
			        <li><a> CENTER OF EXCELLENCE </a></li>
			    </ul>    
			</nav>
		</div>
	</div>
</header>

<div id="img-container">
	<div id="slider-wrapper"></div>
</div>
<div id="main-wrapper">
	<div id="content-sections">
		<ul id="content-wrapper">
			<li>
				<div class="news-header">
					<h1>News</h1>
					<h2>&nbsp;</h2>
				</div>
				<div class="news-image">
					<img src="../assets/images/IMG_3048.jpeg">
				</div>
				<div class="news-message">
					<div class="message">
						<h1>November 7 2010</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
					</div>
					<hr>
					<div class="message">
						<h1>November 7 2010</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
						<br><br>
						<a href="#">View All News</a>
					</div>
				</div>
				<div class="news-blue-box">
					<h1>Alerts</h1>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>November 7 2010</h1>
						<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
					</div>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>December 25 2010</h1>
						<p>Fourth Biennial Supply Chain Management Conference from Dec 18-19, 2014</p>
					</div>
				</div>
				<div class="image-button1">
					<div class="image-text">
						<p>Prospective Students</p>
					</div>
					<img id="studentImg" src="../assets/images/Prospective_students.png">
				</div>
			</li>
			<li>
				<div class="events-header">
					<h1>Events</h1>
					<h2>&nbsp;</h2>
				</div>
				<div class="events-image">
					<img src="../assets/images/IMG_3146.jpeg">
				</div>
				<div class="events-message">
					<div class="message">
						<h1>November 7 2010</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
					</div>
					<hr>
					<div class="message">
						<h1>November 7 2010</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
						<br><br>
						<a href="#">View All Events</a>
					</div>
				</div>
				<div class="events-blue-box">
					<h1>Events</h1>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>FPM 2014: Admission Offers</h1>
						<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
					</div>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>PGP 2014-2016:Offer List</h1>
						<p>Fourth Biennial Supply Chain Management Conference from Dec 18-19, 2014</p>
					</div>
				</div>
				<div class="image-button2">
					<div class="image-text">
						<p>Publication</p>
					</div>
					<img id="studentImg" src="../assets/images/Publications.png">
				</div>
			</li>
			<li>
				<div class="features-header">
					<h1>Features</h1>
					<h2>&nbsp;</h2>
				</div>
				<div class="features-image">
					<img src="../assets/images/DSC_0266.jpeg">
				</div>
				<div class="features-message">
					<div class="message">
						<h1>November 7 2010</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
					</div>
					<hr>
					<div class="message">
						<h1>November 7 2010</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
						<br><br>
						<a href="#">View All News</a>
					</div>
				</div>
				<div class="features-blue-box">
					<h1>Features</h1>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>Faculty Positions- General</h1>
						<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
					</div>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>Faculty Positions- Area</h1>
						<p>Fourth Biennial Supply Chain Management Conference from Dec 18-19, 2014</p>
					</div>
				</div>
				<div class="image-button3">
					<div class="image-text">
						<p>Media Room</p>
					</div>
					<img id="studentImg" src="../assets/images/Media_Room.png">
				</div>
			</li>
		</ul>
	</div>
	<div id="phone-wrapper">
		<ul id="content-wrapper">
			<li>
				<div class="news-header">
					<h1>News</h1>
					<h2>&nbsp;</h2>
				</div>
				<div class="news-content">
					<img src="../assets/images/IMG_3048.jpeg" align="left">
					<h1>November 7 2010</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
					<br><br>
					<a href="#">View All News</a>
				</div>
				<div class="events-header">
					<h1>Events</h1>
					<h2>&nbsp;</h2>
				</div>
				<div class="events-content">
					<img src="../assets/images/IMG_3146.jpeg" align="left">
					<h1>November 7 2010</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
					<br><br>
					<a href="#">View All Events</a>
				</div>
				<div class="features-header">
					<h1>Features</h1>
					<h2>&nbsp;</h2>
				</div>
				<div class="features-content">
					<img src="../assets/images/DSC_0266.jpeg" align="left">
					<h1>November 7 2010</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>	
					<br><br>
					<a href="#">View All News</a>
				</div>
			</li>
			<li>
				<div class="events-blue-box">
					<h1>Events</h1>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>FPM 2014: Admission Offers</h1>
						<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
					</div>
				</div>
				<div class="news-blue-box">
					<h1>Alerts</h1>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>November 7 2010</h1>
						<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
					</div>
				</div>
				<div class="features-blue-box">
					<h1>Features</h1>
					<div class="inner-blue-box">
						<img src="../assets/images/IMG1.png" align="left">
						<h1>Faculty Positions- General</h1>
						<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
					</div>
				</div>
			</li>
			<li>
				<div class="image-button1">
					<div class="image-text">
						<p>Prospective Students</p>
					</div>
					<img id="studentImg" src="../assets/images/Prospective_students.png">
				</div>
				<div class="image-button2">
					<div class="image-text">
						<p>Publication</p>
					</div>
					<img id="studentImg" src="../assets/images/Publications.png">
				</div>
				<div class="image-button3">
					<div class="image-text">
						<p>Media Room</p>
					</div>
					<img id="studentImg" src="../assets/images/Media_Room.png">
				</div>
			</li>
		</ul>
	</div>
</div>

<footer>
	<div id="main-footer">
		<div id="main-footer-content">
			<div id="about-us">
				<p id="footer-title">About Us</p>
				<p id="footer-content">A 100-acre oasis in south Banga- lore, the Indian Institute of Man- agement Bangalore (IIMB), with its all stone architecture...</p>
				<p id="aboutus-link"><a href="#">Readmore...</a></p>
			</div>
			<div id="other-links">
				<p id="footer-title">Other Links</p>
				<ul>
					<li><a href="">Publications</a></li>
					<li><a href="">Media Room</a></li>
					<li><a href="">Multimedia</a></li>
					<li><a href="">Related links</a></li>
					<li><a href="">Alumni</a></li>
					<li><a href="">Faculty</a></li>
				</ul>
			</div>
			<div id="connect">
				<p id="footer-title">Connect With Us</p>
				<p id="connect-content">We're on social networks. Follow us & get in touch.</p>
				<div id="social-links">
					<ul>
						<li><a href="#" id="youtube">&nbsp;</a></li>
						<li>
							<a href='http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/' target="popup"  onclick="window.open('http://www.facebook.com/share.php?u=http://lawrence23.github.io/IIMB/views/','name','width=600,height=400')" id="facebook">&nbsp;</a>
						</li>
						<li><a href="#" id="linkedin">&nbsp;</a></li>
						<li><a href="#" id="twitter">&nbsp;</a></li>
					</ul>
				</div>
			</div>
			<div id="contact-us">
				<p id="footer-title">Contact Us</p>
				<p id="footer-title-bold">Indian Institute of Management Bangalore</p>
				<p id="footer-content">Bannerghatta Road, Bangalore, India<br>Pin Code: 560 076<br>Phone Number: +91-80-26582450/26993996<br>E-Mail: info@iimb.ernet.in...</p>
			</div>
		</div>
	</div>
	<div id="copyright-footer">
		<div id="copyright-footer-content">
			<ul id="copyright-links">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Delivery & Returns</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<p> © Copyright 2014 IIMB, All Rights Reserved</p>
		</div>
	</div>
</footer>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="../resources/js/home.js"></script>
<script src="../resources/js/slider.js"></script>		
</body>
</html>