*{
    /* With these codes padding and border does not increase it's width and gives intuitive style.*/
 
    -webkit-box-sizing: border-box;   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*FONTS*/
@font-face {
	font-family: "Calibri";
    src: url('../../assets/fonts/calibri/calibri.ttf'); 
}
@font-face {
	font-family: "Calibri-Bold";
    src: url('../../assets/fonts/calibri/calibrib.ttf'); 
}
@font-face {
	font-family: "Calibri-Italic";
    src: url('../../assets/fonts/calibri/calibrii.ttf'); 
}
@font-face {
	font-family: "Calibri-Bold-Italic";
    src: url('../../assets/fonts/calibri/calibriz.ttf'); 
}
@font-face {
	font-family: "RobotoSlab-Bold";
    src: url('../../assets/fonts/Roboto Slab/RobotoSlab-Bold.ttf'); 
}
@font-face {
	font-family: "OpenSans";
    src: url('../../assets/fonts/Open Sans/OpenSans-Regular.ttf'); 
}
@font-face {
	font-family: "Georgia-Italic";
    src: url('../../assets/fonts/Georgia/georgiai.ttf'); 
}
@font-face {
	font-family: "Georgia-Bold-Italic";
    src: url('../../assets/fonts/Georgia/georgiaz.ttf'); 
}
@font-face {
	font-family: "Helvetica-Neue-Light";
    src: url('../../assets/fonts/Helvetica/HelveticaNeueLight.ttf'); 
}
@font-face {
	font-family: "Helvetica-Neue-Bold";
    src: url('../../assets/fonts/Helvetica/helvetica-neue-bold.ttf'); 
}
/*END FONTS*/

/*HEADER*/
/*END HEADER*/

/*GENERAL*/
hr {
	color: rgb(228, 228, 228);
	border-color: rgb(228, 228, 228);
	background-color: rgb(228, 228, 228);
	height: 1px;
	border: 0; 
}
p {
	line-height: 120%;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  cursor: pointer;
}
/*END GENERAL*/

/*CONTENT*/
#img-container {
	width: 100%;
	height: 427px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 187px;
}
#slider-wrapper {
	width: 1024px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
#banner {
	height: 427px;
	width: 386px;
	background: -webkit-linear-gradient(left top, rgb(11, 128, 248) , rgb(0, 154, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgb(11, 128, 248), rgb(0, 154, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(11, 128, 248), rgb(0, 154, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgb(11, 128, 248) , rgb(0, 154, 255)); /* Standard syntax (must be last) */
	
	margin-right: 2px;
	color: #fefefe;
	font-family: "OpenSans";
	padding: 50px 20px 0px 20px;
}
#banner h1 {
	font-family: "RobotoSlab-Bold";
	font-size: 34px;
	text-shadow: 2px 2px #555555;
}
#banner a {
	color: #fefefe;
}
#banner img {
	cursor: pointer;
}
#img-nav ul li a {
	float: left;
  	overflow: hidden;
  	text-decoration: none;
  	background: url(../../assets/images/banner_navigation.png) no-repeat scroll right center transparent;
  	width: 31px;
  	height: 30px;
}
#img-nav ul li #next {
	background-position: -33px 0px;
}
#img-nav ul li #prev {
	background-position: 0px 0px;	
}
#img-nav ul li #next:hover {
	opacity: 0.5;
}
#img-nav ul li #prev:hover {
	opacity: 0.5;
}
#img-slider img{
	width: 636px;
	height: 427px;
}
#main-wrapper {
	width: 1024px;
	margin: 0 auto;
	font-family: "Calibri";
	font-size: 15px;
	color: #555555;
	display: flex;
	padding-top: 227px;
	padding-bottom: 10px;
}
#main-content {
	width: 70%;
	margin-right: 0px;
}
#main-content h1 {
	color: rgb(255, 33, 48);
	font-size: 27px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#side-menu {
	width: 30%;
}
#side-menu-items {
	font-size: 20px;
	padding-top: 15px;
}
#side-menu-items li {
	color: rgb(0, 113, 248);
  	padding: 15px 15px 15px 20px;
  	margin-left: 20px;
  	line-height: 30px;
  	border-top: 1px solid rgb(220, 214, 210);
}
#side-menu-items li#active {
	color: rgb(239, 97, 77);
}
#content-sections {
	padding-top: 10px;
	padding-bottom: 10px;
}
#content-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
#content-wrapper li {
	width: 333px;
	margin-right: 12px;
}
#content-wrapper li:nth-child(3) {
	margin-right: 0px;
}
.news-header h1,
.events-header h1,
.features-header h1 {
	margin: 0;
  	width: auto;
  	text-align: left;
  	float: left;
  	line-height: 0px !important;
  	padding-top: 8px;
  	font-family: "Calibri-Bold";
  	font-size: 27px;
  	color: #191b1b;
}
.news-header h2,
.events-header h2,
.features-header h2 {
	background: #EDEDED;
  	float: right;
  	width: 70%;
  	margin: 3px 0 0 0px;
	line-height: 12px;	
}
.news-image img,
.events-image img,
.features-image img{
	width: 333px;
	height: 223px;
	padding-top: 15px;
	padding-bottom: 20px;	
}
.news-message .message h1 {
	background: url(../../assets/images/News_icon.png);
	background-position: 0px 8px;
  	background-repeat: no-repeat;
}
.events-message .message h1 {
	background: url(../../assets/images/Events_icon.png);
	background-position: 0px 8px;
  	background-repeat: no-repeat;
}
.features-message .message h1 {
	background: url(../../assets/images/Features_icon.png);
	background-position: 0px 8px;
  	background-repeat: no-repeat;
} 
.message h1 {
	font-family: "Georgia-Italic";
  	font-size: 14px;
  	color: #888888;
  	
  	line-height: 35px;
  	padding-left: 30px;
}
.message p {
	font-family: "Calibri-Italic";
	font-size: 15px;
	color: #555555;
}
.news-message .message a {
	background: url(../../assets/images/News_Viewall.png);
  	background-repeat: no-repeat;
  	background-position: 0px 3px;
}
.events-message .message a {
	background: url(../../assets/images/Events_Viewall.png);
  	background-repeat: no-repeat;
  	background-position: 0px 3px;
}
.features-message .message a {
	background: url(../../assets/images/Features_Viewall.png);
  	background-repeat: no-repeat;
  	background-position: 0px 3px;
}
.message a {
	font-size: 14px;
	width: 125px;
  	padding-left: 25px;
	color: #FF6C00;
	float: right;
	line-height: 20px;
  	font-family: "Calibri-Italic";
}
.news-message,
.events-message,
.features-message {
	padding-bottom: 30px;
}
.news-blue-box,
.events-blue-box,
.features-blue-box {
	border-radius: 5px;
	padding: 15px 10px 10px 10px;
	margin-bottom: 50px;
}
.news-blue-box {
	background-color: rgb(15, 159, 255);
	border-top: 3px solid rgb(0, 117, 204);
}
.events-blue-box {
	background-color: rgb(5, 118, 246);
	border-top: 3px solid rgb(78, 177, 253);
}
.features-blue-box {
	background-color: rgb(15, 159, 255);
	border-top: 3px solid rgb(0, 117, 204);
}
.news-blue-box h1,
.events-blue-box h1,
.features-blue-box h1 {
	font-family: "Calibri";
	font-size: 27px;
	color: #ffffff;
}
.inner-blue-box {
	padding: 7px 7px 5px 7px;
  	margin: 0px 0px 5px 0px;
  	height: 105px;
  	width: 315px;
}
.news-blue-box .inner-blue-box {
	background-color: rgb(0, 150, 234);
	border: 1px solid rgb(0, 144, 225);
}
.events-blue-box .inner-blue-box {
	background-color: rgb(0, 153, 255);
}
.features-blue-box .inner-blue-box {
	background-color: rgb(0, 150, 234);
	border: 1px solid rgb(0, 146, 227);
}
.inner-blue-box h1 {
	font-family: "Georgia-Bold-Italic";
	font-size: 14px;
	color: #fcfee9;
	line-height: 25px;
  	padding-top: 5px;
}
.events-blue-box .inner-blue-box h1,
.features-blue-box .inner-blue-box h1 {
	font-family: "Helvetica-Neue-Bold";
	font-size: 13px;
	color: #c0e8ff;
}
.inner-blue-box p {
	font-family: "Helvetica-Neue-Light";
	font-size: 12px;
	color: #ffffff;
}
.inner-blue-box img {
	padding-right: 10px;
}
/*END CONTENT*/

/* FOOTER */
#main-footer {
	background: #262626;
	color: #fff;
	font-size: 15px;
}
#main-footer-content {
	width: 1024px;
	margin: 0 auto;
	display: flex;
	padding-top: 25px;
	padding-bottom: 30px;
}
#about-us {
	width: 210px;
	margin-right: 43px;
}
#footer-title {
	font-family: "Calibri-Bold";
	font-size: 18px;
	padding-bottom: 20px;
}
#footer-content {
	font-family: "Calibri-Italic";
}
#aboutus-link {
	padding-top: 5px;
}
#aboutus-link a {
	font-family: "Calibri-Italic";
	text-decoration: none;
	color: #CE7E32;
}
#footer-title-bold {
	font-family: "Calibri-Bold";
}
#other-links {
	width: 160px;
}
#other-links ul {
	list-style-type: disc;
	margin-left: 17px;
	font-family: "Calibri-Italic";
}
#other-links ul li {
  	padding-bottom: 10px;
}
#other-links ul li a {
	text-decoration: none;
	color: #fff;
}
#connect {
	width: 275px;
	padding-right: 60px;
}
#connect-content {
	font-family: "Calibri";
	font-size: 15px;
}
#social-links ul {
	padding-top: 10px;
}
#social-links ul li a {
	float: left;
  	overflow: hidden;
  	text-decoration: none;
  	background: url(../../assets/images/socialIcon_bottom.png) no-repeat scroll right center transparent;
  	width: 32px;
  	height: 30px;
}
#social-links ul li #youtube {
	background-position: 0px 0px;
}
#social-links ul li #youtube:hover {
	background-position: 0px -29px;
}
#social-links ul li #facebook {
	background-position: -34px 0px;
}
#social-links ul li #facebook:hover {
	background-position: -34px -29px;
}
#social-links ul li #twitter {
	background-position: -98px 0px;
}
#social-links ul li #twitter:hover {
	background-position: -98px -29px;
}
#social-links ul li #linkedin {
	background-position: -65px 0px;
}
#social-links ul li #linkedin:hover {
	background-position: -65px -29px;
}
#copyright-footer {
	width: 100%;
  	background: #181818;
  	height: 60px;
  	margin: 0;
  	padding: 0 0 0 0;
  	font-size: 13px;
  	font-family: "Calibri"; 
}
#copyright-footer-content {
	width: 1024px;
	margin: 0 auto;
}
#copyright-footer-content p {
	width: 50%;
	margin-right: 0px;
	float: left;
	color: #fff;
	line-height: 60px;
}
#copyright-links {
	list-style: none;
	float: right;
	display: flex;
	line-height: 60px;
}
#copyright-links li {
	margin: 0px 15px 0px 15px;
}
#copyright-links li a {
	text-decoration: none;
	color: #fff;
}
/* END FOOTER */


.image-button1,.image-button2,.image-button3{
	width: 333px;
	display: inline-block;
	height: 111px;
	border-radius: 9px;
}
.image-button1{
	background: rgb(255, 149, 0);
}
.image-button2{
	background: rgb(238, 68, 0);
}
.image-button3{
	background:rgb(0, 192, 240);
}
.imgtext{
	font-size: 36px;
	font-family: calibri-bold;
	color: #ffffff;
	margin-right: 20px;
}
#button1{

}
.studentImg{
	float: right;
	bottom: 86px;
	position: relative;
}
#button-container {
	width: 1024px;
	margin: 0 auto;
	padding-top: 40px;
  padding-bottom: 20px;
}



/*header css*/

body {
	margin: 0 auto;
	border: 0;
	
	padding: 0;
		/*font-family: Calibri;
		font-size: 14px;
		background: #fff;
		color: #666;*/
}
#header-wrapper {
	position: absolute;
	width: 1024px;
	margin: auto;
	left: 0;
	right: 0;
	top:0px;
}
#main-div{
	padding-top: 31px;
}

nav ul {
    list-style: none;
    display: block;  
    color: #FFFFFF;
    
}
#nav {
	background-image: url(../../assets/images/topmenu_bg.png);
	background-size: contain;
	height: 39px;
	width: 100%;
	position: relative;
	margin-top: 50px;
}
nav ul li {
    font-family: calibri ;
    float: left;
    margin: 0px;
    padding: 10px 16px 10px 16px;
    font-size: 16px;  
    color: #FFFFFF;
    border-right: 1px solid #fff;
    cursor: pointer;
}

nav ul li:hover{
    background-color: rgb(50, 50, 50);   
    border-right:1px solid #000;
}

nav ul li a{
    text-decoration: none;

}
nav ul li ul li {
	width: 100%;
}
nav ul li ul{
   display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  margin-top: 11px;
  width: 30%;
  background-color: rgb(50, 50, 50);

}
ul li:hover ul{
    display: inline-table; /* display the dropdown */
}
nav ul li ul li{
	border-bottom: 2px solid rgb(65, 65, 65);
	border-right: none;
	padding-bottom: 10px
}
#navlist {
	width: 50%;
  display: inline;
}
#navlist ul {
	list-style-type: none;
    display: flex; 
    margin: 0px;
    padding: 0px;
    float: right;
}
#navlist ul li{
	font-family: calibri ;
	font-size: 12px;
	color: #686868;
	padding: 7px;
}

header{
	position: absolute;
	width:100%;
	/*height: 65%;*/
}
#submitButton{
	display: none;
}
#submitForm{
	display: none;
}

#searchbox{
  top: 40px;
  position: absolute;
  right: 0;
  height: 27px;
  
}
input[type=text] {
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: 1px solid #555555;
  padding-left: 7px;	
  background-image: url(../../assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: 150px 3px;
  background-size: 24px;
}
#logo img {
	width: 90%;
}
#social-media {

}
#social-media ul {
	height: 24px;
	float: right;
	width: 127px;
}
#social-media ul li a {
	float: left;
  	overflow: hidden;
  	text-decoration: none;
  	background: url(../../assets/images/socialIcon_top.png) no-repeat scroll right center transparent;
  	width: 32px;
  	height: 30px;
}
#social-media ul li #youtube {
	background-position: 0px 0px;
}
#social-media ul li #youtube:hover {
	background-position: 0px -29px;
}
#social-media ul li #facebook {
	background-position: -34px 0px;
}
#social-media ul li #facebook:hover {
	background-position: -34px -29px;
}
#social-media ul li #twitter {
	background-position: -98px 0px;
}
#social-media ul li #twitter:hover {
	background-position: -98px -29px;
}
#social-media ul li #linkedin {
	background-position: -65px 0px;
}
#social-media ul li #linkedin:hover {
	background-position: -65px -29px;
}
#social{
	height: 48px;
}
#logo{
	  float: left;
  	  width: 50%;
}
#nav-icons {
	padding-top: 60px;
}
#nav-icons-ul ul {
	  padding-left: 16px;
	    margin-top: 10px;
}
#span2{
	display: block;
}
#span1{
	display: none;
}








/*mediaquery*/
@media (max-width: 1024px) {

#navlist ul li{
	
	padding:5px;
  }
#header-wrapper {
	width:90%;
}
nav ul li{
	margin: 5px 10px;
	font-size: 15px;
}
#nav{
	height:30px;
	/*overflow: hidden;*/
}
#navlist ul li{
	font-size: 10px;
	padding:5px;

}
#socialmedia{
	width: 74%;
}
}


@media (max-width: 800px) {
#navlist ul li{
	font-size: 8px;
	padding:3px;

}

body {
	padding:0px;
}
nav ul li{
	margin: 5px 10px;
	font-size: 11px;

}
#header-wrapper {
	width:90%;
}
#socialmedia{
	width: 73%;

}
#nav{
	height:25px;
	/*overflow: hidden;*/
}
}
