#logo img {
	margin-top: 8px;
}
nav ul li {
	font-size: 10px;
	padding: 7px;
}
#slider-wrapper {
  	width: 95%;
}
#banner {
	width: 35%;
}
#img-slider {
	width: 65%;
  	height: 427px;
  	background-image: url(../../assets/images/DSC_0266.jpeg);
  	background-size: 171%;
  	background-position: -165px -93px;
}
#img-slider img {
	display: none;
}  
#main-wrapper {
	width: 95%;
}
#content-sections {
	width: 95%;
  	margin: 0 auto;
}
#content-wrapper li {
	width: 33%;
	margin-right: 6px;
  	margin-left: 6px;
}
.news-header h2, .events-header h2, .features-header h2 {
	width: 50%;
	line-height: 10px;
}
.news-image img, .events-image img, .features-image img {
	width: 100%;
}
.inner-blue-box {
  	height: auto;
  	width: 100%;
}
.inner-blue-box h1 {
  	line-height: 19px;
  	padding-top: 0px;
}
.inner-blue-box img {
  padding-right: 5px;
  width: 60px;
}
.image-button1, .image-button2, .image-button3 {
	width: 100%;
}
.imgtext {
	font-size: 20px;
}
#studentImg {
  	bottom: 46px;
  	width: 97px;
}
#main-footer {
	width: 100%;
}
#main-footer-content {
	width: 95%;
}
#about-us {
	margin-right: 10px;
}
#other-links {
	width: 150px;
}
#connect {
  	padding-right: 10px;;
}
#copyright-footer-content {
	width: 95%;
}
#copyright-footer-content p {
	width: 35%;
	color: #606060;
}
#copyright-links li a {
 	color: #606060;
}
.events-blue-box .inner-blue-box h1,
.features-blue-box .inner-blue-box h1 {
	font-size: 10px;
}
.inner-blue-box p {
  	font-size: 10px;
}
.inner-blue-box h1 {
  	font-size: 11px;
}
.image-button1 p, .image-button2 p, .image-button3 p {
  	font-size: 26px;
}
.image-button1 #studentImg {
	top: -108px;
}
.image-button2 #studentImg {
	top: -84px;
}
.image-button3 #studentImg {
	top: -99px;
	width: 53%;
}
.image-button1, .image-button2, .image-button3 {
  	height: 85px;
}
#button-container {
	width: 100%;
}   
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	nav ul li {
		padding: 9px;
	}
	.events-blue-box .inner-blue-box h1,
	.features-blue-box .inner-blue-box h1 {
		font-size: 13px;
	}
	.inner-blue-box p {
	  	font-size: 13px;
	}
	.inner-blue-box h1 {
	  	font-size: 14px;
	}
	.image-button1 p, .image-button2 p, .image-button3 p {
	  	font-size: 30px;
	}
	.image-button1 #studentImg {
	  	top: -128px;
  		width: 35%;
	}
	.image-button2 #studentImg {
		top: -42px;
  		width: 40%;
	}
	.image-button3 #studentImg {
		top: -131px;
  		width: 48%;
	}
	.image-button3 .image-text {
  		width: 59%;
  	}	
}