#header-wrapper {
    width:90%;
}
#main-footer {
	width: 100%;
}
#main-footer-content {
	width: 95%;
}
#about-us {
	margin-right: 10px;
	border-right: 1px solid #2E2E2E;
	width: 80%;
}
#other-links {
	width: 20%;
}
#connect {
    padding-right: 5px;
    border-right: 1px solid #2E2E2E;
    width: 20%;
}
#contact-us {
	width: 80%;
}
#copyright-footer-content {
    width: 70%;
    margin: 0 auto;
    font-size: 11px;	
}
#copyright-footer-content p {
	text-align: center;
	color: #606060;
	width: 100%;
}
#copyright-links {
	float: none;
	line-height: 35px;
  	height: 10px;
  	width: 100%;
}
#copyright-links li {
	margin: 0px 2px 0px 2px; 
}
#copyright-links li a {
 	color: #606060;
}
#nav-icons{
	display: none;
}
#nav{
	display: none;
}
form{
	display: none;
}
#logo img {
  	width: 275px;
}
#img-container {
    padding-top: 200px;
}
#slider-wrapper {
  	margin: -127px auto;
}
#main-div{
	padding-top: 15px;
}
#iphone6{
	float: right;
	display: block;
}
#submitForm  {
    display: block;
    background-image: url(../../assets/images/search_icon.png);
    background-repeat: no-repeat;
    height: 26px;
    width: 28px;
    float: right;
    background-color: white;
    border: 1px solid rgb(210, 207, 207);
    border-radius: 5px;
    background-position: 1px 3px;
    margin-top: 14px;
}
#submitButton  {
    display: block;
    background-image: url(../../assets/images/menu-icon-dna.png);
    background-repeat: no-repeat;
    height: 26px;
    width: 28px;
    float: right;
    background-color: white;
    border: 1px solid rgb(210, 207, 207);
    border-radius: 5px;
    background-size: 17px;
    background-position: 4px 6px;
    margin-right: 6px;
    margin-top: 14px;
}
#content-wrapper li {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 25px;
}
#content-wrapper {
  display: block;
}
.image-button1, .image-button2, .image-button3 {
    width: 100%;
    display: inline-block;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.studentImg {
    float: right;
    bottom: 107px;
    position: relative;
    height: 100px;
    margin-top: 58px;
}
.imgtext {
    font-size: 20px;
}
#span2{
	display: block;
}
#span1{
	display: none;
}
#button-container {
	padding-top: 18px;
    width: 100%;
}
.image-button1 p, .image-button2 p, .image-button3 p {
    font-size: 22px;
}
.image-button1 .image-text {
    padding: 20px 0px 0px 10px;
}
.image-button2 .image-text {
    padding: 24px 0px 0px 10px;
}
.image-button3 .image-text {
    padding: 22px 0px 0px 10px;
}
.image-button1 #studentImg {
    top: -35px;
    width: 89px;
}
.image-button2 #studentImg {
    top: -17px;
    width: 89px;
    right: 10px;
}
.image-button3 #studentImg {
    top: -17px;
    width: 100px;
    right: 2px;
}
#slider-wrapper {
    width: 100%;
    display: block;
}
#banner {
    width: 100%;
    padding: 20px 20px 20px 20px;
    height: 56%;
    position: absolute;
    bottom: -50px;
}
#banner h1 {
    font-size: 24px;
}
#img-slider {
    width: 100%;
    position: absolute;
    top: 0px;
}
#img-slider img {
    width: 100%;
    height: auto;
}
#main-wrapper {
    width: 100%;
}
#content-sections {
    display: none;
}
#phone-wrapper {
    display: block;
}
.news-content img, .events-content img, .features-content img {
    width: 30%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-right: 10px;
}
.news-content h1 {
    background: url(../../assets/images/News_icon.png);
    background-position: 123px 21px;
    background-repeat: no-repeat;
}
.events-content h1 {
    background: url(../../assets/images/Events_icon.png);
    background-position: 123px 21px;
    background-repeat: no-repeat;
}
.features-content h1 {
    background: url(../../assets/images/Features_icon.png);
    background-position: 123px 21px;
    background-repeat: no-repeat;
}
.news-content h1,
.events-content h1,
.features-content h1 {
    font-family: "Georgia-Italic";
    font-size: 14px;
    color: #888888;
    line-height: 30px;
    padding-left: 150px;
}
.news-content p,
.events-content p,
.features-content p {
    font-family: "Calibri-Italic";
    font-size: 15px;
    color: #555555;
}
.news-content a,
.events-content a,
.features-content a {
    font-size: 14px;
    width: 125px;
    padding-left: 25px;
    color: #FF6C00;
    float: right;
    line-height: 20px;
    font-family: "Calibri-Italic";
}
.news-content a {
    background: url(../../assets/images/News_Viewall.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
}
.events-content a {
    background: url(../../assets/images/Events_Viewall.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
}
.features-content a {
    background: url(../../assets/images/Features_Viewall.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
}
.news-content,
.events-content,
.features-content {
    padding-bottom: 30px;
}
.inner-blue-box {
    width: 100%;
}
.news-blue-box, .events-blue-box, .features-blue-box {
    margin-bottom: 10px;
}
#side-menu {
    display: none;
}
#main-content {
    width: 95%;
    margin: 0 auto;
    text-align: justify;
}
#main-footer {
    display: none;
}
#footer1, #footer2 {
    width: 100%;
}
#footer-title {
    font-size: 14px;
}
#about-us {
    width: 60%;
    float: left;
    margin: 30px 0px 0px 0px;
    padding: 0px 15px 30px 25px;
}
#other-links {
    width: 40%;
    float: left;
    padding: 30px 15px 20px 25px;
}
#connect {
    width: 47%;
    float: left;
    margin: 0px 22px 30px 0px;
    padding: 5px 3px 20px 25px;
}
#contact-us {
    width: 100%;
    padding: 30px 0px 20px 0px;
}
#phone-footer {
    display: block;
    background: #262626;
    color: #fff;
}
#footer-content {
    font-size: 12px;
}
#other-links ul {
    font-size: 12px;
}
#connect-content {
    font-size: 12px;
}
#footer-title-bold {
  font-size: 12px;
}
#copyright-footer {
    height: 80px;
}